
* {
    box-sizing: border-box;
}


/*常用的font-awesome 字體
 *<i class="fa-solid fa-cloud"></i> 
 *<i class="fa-solid fa-cloud-arrow-down"></i>
 *<i class="fa-solid fa-user-shield"></i>
 *<i class="fa-solid fa-file-pdf"></i>
 *<i class="fa-solid fa-file-csv"></i>
 *<i class="fa-brands fa-facebook-f"></i>
 *<i class="fa-brands fa-linkedin"></i>
 *<i class="fa-brands fa-twitter"></i>
*/

/*宣告常用的顏色，作為變數*/
html {
    --white:#FFFFFF;
    --black:#000000;
    --orange:#EE3D18;
    --red:#D52047;
    --text-size-p:14px;
    scroll-behavior: smooth;
    font-family: 'lato';
    font-size:24px;
    line-height: 1.2;
}

p {
    font-size: 14px;
    line-height: 1.4;
}
h1 {
    font-size: 3rem;
    font-weight: 700;
}
h2 {
    font-weight: 600;
    font-size: 2rem;
}
/*宣告常用的容器、屬性*/
/*若不限制最大寬，要如何安排元素位置?*/
.container {
    width: 100%;
    padding: 0 11.5%;
}

a, a:active ,a:hover,a:link,a:visited  {
    text-decoration: none;
    color:var(--white);
}

ul,ol,li {
    list-style: none;
}

/*宣告有flex屬性值的元素之css*/
*[class$=-flex] {
    display: flex;
}

/*----------mainvision----------*/
#mainvision .container {
    background:url(../asset/main_bg1.png) no-repeat center/cover;
    height: calc(100vw*.543);
/*讓container 可以被圖片撐開*/
}

#mainvision .navbar-flex {
    width: 100%;
}

#mainvision .navbar-flex div{
    border-left:2px solid #000000;
    border-right:2px solid #000000;
    align-self: center;
}

#mainvision .cloud-logo {
    flex:0 0 20%;
    font-size: 1.2rem;
/*align-self對flex-box的後裔有效??...無效，這是對div產生影響*/
}

#mainvision .links {
    flex:1 0 30%;
}

#mainvision ul {
    text-align:center;
/*ul對子元素的li 可以使用text-align*/
}

#mainvision li {
    margin-right: 7% ;
    display: inline-block;
    height: 100%;
    font-weight: 700;
    font-size: var(--text-size-p);
    color: var(--white);
}
#mainvision .lang {
    flex:0 0 10%; 
}
#mainvision .login {
    flex:0 0 10%;
    text-align: center;
}

#mainvision .text-flex {
    width: 100%;
    height: calc(100% - 76.8px);
    flex-flow:column nowrap;
    justify-content: end;
    /*四則運算要有空白*/
    /*為甚麼navbar會是84.8px高？*/
    /* align-content: center; */
    /*這條沒有意義，因為flex-item都是width100%了
     *置中是因為div的 text align*/
}

#mainvision .text-flex div {
    text-align: center;
    color: var(--white);
}
/*用穿插隱藏flex item的方式 把內容往上提*/
#mainvision .cushion {
    flex: 0 0 8%;
}
#mainvision .cushion2 {
    flex: 0 0 27%;
}

#mainvision .text-flex p{
    font-weight: 600;
    line-height: 36px;
    font-size: 1rem;
/*記得來調p的寬高*/
}
#mainvision .text-flex .button-box-flex {
    justify-content: center;
    /*div>a的情況下 沒辦法將a給置中;將div拉長，會讓a的字往上跑*/
}
#mainvision .text-flex .button-box-flex .button-box {
    width: 160px;
    height: 50px;
    background-color: var(--white);
    border-radius: 6px;
    padding:7px 0;
    /*用padding置中a的文字*/
}
#mainvision .text-flex .button-box-flex .button-box a {
    height: 100%;
    width: 100%;
    font-size: var(--text-size-p);
    display: inline-block;
    color: var(--red);
}

/*-----------introduction----------*/
#introduction .content-left, #introduction .content-right {
    flex:0 0 50%;
}
#introduction .text-flex {
    flex-flow: column nowrap;
}

#introduction .container {
    padding-top: 94px;
    padding-bottom: 94px;
}

#introduction .content-left-flex, #introduction .content-right {
    flex:0 0 50%;
    position: relative;
}
#introduction .content-left-flex {
    flex-flow: column nowrap;
    justify-content: center;
}
#introduction .text h2 {
    font-weight: 600;
    font-size: 36px;

}
#introduction .text a{
    color:var(--red);
    font-size: var(--text-size-p);
}
#introduction .figure {
    /* position: absolute;
    left: 0%;
    top: 50%; */
}
